<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" type="text/javascript"></script>
    <title>Test</title>
</head>
<body>

<div>
    <input type="text" id="ct_id" placeholder="category id">
    <input type="file" id="content" name="content" accept="video/*">
    <button onclick="send()">Submit</button>
    <br/>
    <br/>
    <input type="text" id="cid" placeholder="content id">
    <button onclick="content()">content</button>
    <br/>
    <br/>
<!--    <video controls id="view" width="400" height="400"/>-->
</div>

</body>
</html>

<script>

'use strict';

function content(){
     console.log("video");
     $.ajax({
        method : 'get',
        url : 'api/v1/getVideo/1',
        success : function (data) {
                let blob = b64toBlob(data.video, 'video/mp4');
                $("#view")[0].src = URL.createObjectURL(blob);
            }
     });
}

// 동영상 등록
function send(){
    console.clear();
    console.log("send");
    let file = $('#content')[0].files[0]
    let blob = new Blob([file], { type: `${file.type}` });
    let formData = new FormData();
    formData.append('src', blob);
    formData.append('name', file.name);
    formData.append('type', file.type);
    formData.append('ct_id', $('#ct_id').val());
    let blobUrl = URL.createObjectURL(blob);
    debugger;

    $.ajax({
            method : "POST",
            url : 'api/v1/contents',
            processData: false,
            contentType: false,
            data : formData,
            beforeSend: function() {
            },
            success : function (data) {
                console.log("data : ",data);
            }
        });
}


//base64를 Blob으로 변환
function b64toBlob(b64Data,contentType){
    	var sliceSize=512;
    	  const byteCharacters = atob(b64Data);
    	  const byteArrays = [];

    	  for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    	    const slice = byteCharacters.slice(offset, offset + sliceSize);

    	    const byteNumbers = new Array(slice.length);
    	    for (var i = 0; i < slice.length; i++) {
    	      byteNumbers[i] = slice.charCodeAt(i);
    	    }

    	    const byteArray = new Uint8Array(byteNumbers);
    	    byteArrays.push(byteArray);
    	  }

    	  const blob = new Blob(byteArrays, {type: contentType});
    	  return blob;
    	}


</script>