<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" type="text/javascript"></script>
    <title>Test</title>
</head>
<body>

<div>
    <input type="text" id="ctId" placeholder="category id">
    <input type="file" id="content" accept="video/*">
    <button onclick="send()">Submit</button>
    <br/>
    <br/>
    <input type="text" id="cid" placeholder="content id">
    <button onclick="content()">content</button>
    <br/>
    <br/>
    <div id="box">
    </div>
</div>

</body>
</html>

<script>

'use strict';

function content(){
     console.log("video");
     $.ajax({
        method : 'get',
        url : 'api/v1/contents/'+$('#cid').val(),
        success : function (data) {
                console.log('data : ',data);
                let blob = b64toBlob(data.src, 'video/mp4');
                $('#box').html('');
                $('#box').html("<p>"+data.name+"</p><video controls id='view' width='200' height='200'/><br/>")
                $('#box').append("<img width='200' height='200' src='data:image/png;base64,"+data.thumbnailSrc+"' />");
                $("#view")[0].src = URL.createObjectURL(blob);
            }
     });
}

// 동영상 등록
function send(){
    console.clear();
    console.log("send3");
    let file = $('#content')[0].files[0]
    let formData = new FormData();
    formData.append('file', file);
    formData.append('ctId', $('#ctId').val());

    debugger;

    $.ajax({
            method : "POST",
            url : 'api/v1/contents',
            processData: false,
            contentType: false,
            data : formData,
            beforeSend: function() {
            },
            success : function (data) {
                console.log("data : ",data);
            },
            error : function (e){
                console.log("error : ",e);
            }
        });
}

//base64를 Blob으로 변환
function b64toBlob(b64Data,contentType){
    	var sliceSize=512;
    	  const byteCharacters = atob(b64Data);
    	  const byteArrays = [];

    	  for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    	    const slice = byteCharacters.slice(offset, offset + sliceSize);

    	    const byteNumbers = new Array(slice.length);
    	    for (var i = 0; i < slice.length; i++) {
    	      byteNumbers[i] = slice.charCodeAt(i);
    	    }

    	    const byteArray = new Uint8Array(byteNumbers);
    	    byteArrays.push(byteArray);
    	  }

    	  const blob = new Blob(byteArrays, {type: contentType});
    	  return blob;
    	}


</script>